html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  max-width: 1280px;
  min-width: 360px;
  width: 100%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  box-shadow: lightgrey;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Common
 * 
 */

.news-more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}

/*
 *
 * Header
 *
 */

/*

    font-family: 'Special Elite', cursive;

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Roboto', sans-serif;


*/

.header-container {
  min-width: 320px;
}

.header {
  min-height: 56px;
  transition: min-height 0.3s;
  background: linear-gradient(to top, #cccccc, #ffffff);
}

.header-inner {
  width: 100%;
  background-image: url("../images/old-paper.jpg");
  display:inline-block;
}

.header-logo {
  height: 72px;
  vertical-align: middle;
  margin: 1em;
  padding-bottom:0;
}

.header-title {
  font-family: 'Special Elite', cursive;
  font-weight: 100;
  font-size: 4em;
  display: inline-block;
  color: #000;
  text-shadow: 3px 3px 2px #888888;
  vertical-align: bottom;
  margin: 0;
}
.header-title:after { 
  content: "";
}

.hamburger-menu {
  height: 33px;
  display: none;
  float: right;
  margin: 0;
  padding: 0;
  font-size:30px;
  cursor:pointer;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  font-family: 'Special Elite', cursive;
  font-weight: 200;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  background-color: rgb(144, 144, 144);
}

.nav-list {
  width: 100%;
  padding: 0;
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 20px;
  padding: 16px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 1.5em;
}

.nav a:hover {
  color: #000000;
}

/*
 *
 * Main
 *
 */

main {
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */

/*
 *
 * Hero
 *
 */

.hero {
  width: 100%;
  position: relative;
  background-image: url("../images/dog.jpg");
  background-size: cover;
  height: 400px;
}

.hero article {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  color: #00ffea93;
  padding: 1em;
}

.hero article:hover {
  color: #00ffea;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 *
 * Top News
 *
 */

.top-news {
  height: 300px;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding: 1em;
}

.news-title {
  font-family: 'Special Elite', cursive;
  font-weight: 200;
  border-bottom: 1px solid rgb(212, 212, 212);
  line-height: 24px;
  font-size: 16px;
  background: linear-gradient(to right, #0000ff, #fafafa);
  color: #ffffff;
}

.top-news-item {
  border-bottom: 1px solid #00f;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news-item:before {
  content: "» ";
}

.top-news-item:last-child {
  border-bottom: none;
}

.top-news-item a {
  text-decoration: none;
  color: #666;
}

.top-news-item a:hover,
.top-news-item a:active {
  text-decoration: underline;
}

/*
 *
 * Sport Scores
 *
 */

.scores {
  background-color: #eceff1;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding: 1em;
}

.scores-table {
  width: 100%;
  table-layout: fixed;
}

.scores-table th,
.scores-table td {
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scores-table th {
  color: #fff;
  font-weight: 300;
  background-color: rgb(204, 205, 206);
}

.scores-table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores-table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores-table td.winner {
  font-weight: bold;
}

.scores-table td:nth-child(3) {
  text-align: right;
}

.scores-table td:nth-child(2),
.scores-table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  height: 300px;
  padding: 1em;
  background-color: rgb(220, 241, 255);
  border-bottom: 1px solid rgb(218, 217, 217);
}

.weather-location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather-desc {
  display: block;
  font-size: 1.2em;
}

.weather-today {
  width: 60%;
  vertical-align: middle;
}

.weather-today-image {
  vertical-align: middle
}

.weather-today-temp {
  font-size: 3em;
}

.weather-today-deg {
  font-size: 2em;
  display: inline;
}

.weather-next-item {
  display: inline-block;
  width: 19%;
  text-align: center;
}

.weather-next-item span {
  display: block;
}

.weather-next-image {
  width: 100%;
}

/*
 *
 * Recent News
 *
 */

.recent-news {
  padding: 1em;
  border-bottom: 1px solid rgb(218, 217, 217);
}

.snippet {
  margin: 24px 0;
  border-bottom: 1px solid #00f;
}

.snippet-thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet-title {
  font-weight: 500;
}

.snippet-title a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.snippet-title a:hover,
.snippet-title a:active {
  text-decoration: underline;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  background-color: whitesmoke;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 300px)and (max-width: 600px) {
  .hero,
  .weather,
  .news,
  .scores {
    width: 100%;
  }
  .nav,
  .header-logo,
  footer {
    display: none;
  }
  .hamburger-menu {
    display: inline-block;
  }
  .header-title {
    font-size: 32px;
    position:relative;
   top:10px;
   left:10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
  .hero {
    width: 100%;
  }
  .weather,
  .scores {
    width: 50%;
  }
  .news {
    width: 100%;
  }
}

@media screen and (min-width: 1281px) {
  .hero {
    width: 100%;
  }
  .weather,
  .scores {
    width: 33.33%;
  }
  .news {
    width: 66.66%;
  }
}